<%= form_for [:admin, room] do |f| %>

  <p>
    <%= f.label :area %> <br>
    <%= f.select :area, options_for_select(['A', 'B', 'C', 'D', 'E', 'F']), 
    {}, class: "form-control" %>    
  </p>

  <p>
    <%= f.label :name %> <br>
    <%= f.number_field :name, class: "form-control" %>
  </p>

  <p>
    <%= f.label :capacity %> <br>
    <%= f.number_field :capacity, class: "form-control" %>
  </p>

  <p>
    <%= f.label :description %> <br>
    <%= f.text_field :description, class: "form-control" %>
  </p>

  <%= f.submit class: "btn btn-primary" %>
<% end %>