<div class="page-header">
  <h1>New Reservation</h1>
</div>

<%= form_for [:admin, :room, @reservation] do |f| %>
  <p>
    <%= f.label :time_start %> <br>
    <%= f.time_select :time_start, { start_hour: 7, end_hour: 17, minute_step: 30 }, 
      { class: "form-control custom-form" } %>
  </p>

  <p>
    <%= f.label :time_end %> <br>
    <%= f.time_select :time_end, { start_hour: 8, end_hour: 20, minute_step: 30 },
      { class: "form-control custom-form" } %>
  </p>

  <p>
    <%= f.label :date %> <br>
    <%= f.date_select :date, { discard_year: true, order: [:day, :month] }, { class: "form-control custom-form" } %>
  </p>
  
  <%= f.submit class: "btn btn-primary" %>
  
<% end %> 
