<div class="row" id="admin">
  <div class="col-md-9">
    <div class="page-header">
      <h1>Admin Lounge</h1>
    </div>
    <p>This is a place for admins</p>
  </div>

  <div class="col-md-3">
    <h2>Links</h2>
    <ul class="nav nav-stacked">
      <li><%= link_to "Users", admin_users_path %></li>
    </ul>
  </div>
</div>
