<div class="page-header">
  <h1>Rooms</h1>
  <% if current_user.try(:admin?) %>
    <ul class="actions">
      <li>
        <%= link_to "New Room", new_admin_room_path, class: "new" %>
      </li>
    </ul>
  <% end %>
</div>

<%= form_tag(rooms_path, :method => "get", id: "custom-search-input") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Rooms", class: "form-control input-md" %>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
    <i class="glyphicon glyphicon-search"></i>
<% end %>
  
<% end %>

<% if @rooms.present? %>
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th>Index</th>
      <th>Area</th>
      <th>Name</th>
      <th>Capacity</th>
    </tr>
    </thead>
    <tbody>
    <% @rooms.each_with_index do |room, index| %>
      <tr data-link="<%= room_path(room) %>">
        <td><%= index + 1%></td>
        <td><%= room.area %></td>
        <td><%= room.name %></td>
        <td><%= room.capacity %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>
<% else %>
  <p>There are no rooms containing the term(s) <%= params[:search] %></p>
<% end %>