<div class="page-header">
  <h1>Room <%= @room.area + @room.name %></h1>
  <% if current_user.try(:admin?) %>
    <ul class="actions">
      <li>
        <%= link_to "Edit Room", edit_admin_room_path(@room), class: "edit" %>
      </li>

      <li>
        <%= link_to "Delete Room", admin_room_path(@room), method: :delete, 
        data: { confirm: "Are you sure?" }, class: "delete" %>
      </li>
    </ul>
  <% end %>
  
  <% if user_signed_in? && !current_user.try(:admin?) %>
    <ul class="actions">
      <li>
        <%= link_to "Book now", new_admin_room_reservation_path(@room), class: "new" %>
      </li>
    </ul>  
  <% end %>
 </div> 

<p>Capacity: <%= @room.capacity %></p>
<p>Description: <%= @room.description %></p>

