/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  font-family: Georgia, serif;
}

.page-header {
  position: relative;
  
  a.new, a.edit, a.delete {
    @extend .btn;

    &:before {
      font-family: "FontAwesome";
      padding-right: 0.5em;
    }
  }

  a.new {
    @extend .btn-success;

    &:before {
      @extend .fa-plus;
    }
  }  

  a.edit {
    @extend .btn-primary;

    &:before {
      @extend .fa-pencil;
    }
  }

  a.delete {
    @extend .btn-danger;

    &:before {
      @extend .fa-trash;
    }
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
  position: absolute;
  right: 2px;
  bottom: 15px;
  text-align: center;
}

.col-md-3 {
  position: relative;
  top: 25px;
}

#custom-search-input {
  width: 400px;
 
  button {
    position: relative;
    top: -34px;
    left: 361px;
  }
}


.table-hover {
  
  cursor: pointer;
  tbody > tr:hover {
    color: #fff;
    background-color: #d9534f;
  }
}

thead {
  color: #fff;
  background-color: #428bca;
}

.custom-form {
  width: 20%;
  display: inline;
}

img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
}

ul.dropdown-menu {
  width: 200px;
}

hr {
  margin-bottom: 0;
}

footer {
  height: 50px;
  position: relative;
  bottom: 0px;
  p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    line-height: 50px;
  }
}