<%= form_for [:admin, user] do |f| %>

  <p>
    <%= f.label :email %> <br>
    <%= f.email_field :email, class: "form-control" %>  
  </p>

  <p>
    <%= f.label :password %> <br>
    <%= f.password_field :password, class: "form-control" %> <br>
  </p>

  <p>
    <%= f.check_box :admin %>
    <%= f.label :admin, "Is an admin?"  %>
  </p>

  <%= f.submit class: "btn btn-primary" %>
<% end %>