<div class="page-header">
  <h1>Users</h1>

  <ul class="actions">
    <% if current_user.admin? %>
      <li>
        <%= link_to "New User", new_admin_user_path, class: "new" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Admins</h3>    
    <ul>
      <% @users.select { |user| user.admin? }.each do |user| %>
        <li><%= link_to user.email, [:admin, user] %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Teachers</h3>    
    <ul>
      <% @users.select { |user| !user.admin? }.each do |user| %>
        <li><%= link_to user.email, [:admin, user] %></li>
      <% end %>
    </ul>
  </div>
</div>

