<div class="page-header">
  <h1><%= @user.email %></h1>
  <% if current_user.admin? || @user.id == current_user.id %>
    <ul class="actions">
      <li>
        <%= link_to "Edit User", edit_admin_user_path(@user), class: "edit" %>
      </li>

      <li>
        <%= link_to "Delete User", admin_user_path(@user), method: :delete,
        data: { confirm: "Are you sure?" }, class: "delete" %>
      </li>
    </ul>
  <% end %>  
</div>

<div class="page-header">
  <h3>Reservations</h3>
</div>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Index</th>
      <th>Room</th>
      <th>Time</th>
      <th>Date</th>
      <td>State</td>
    </tr>
  </thead>
  <tbody>
    <% @user.reservations.each_with_index do |reser, index| %>
      <tr data-link="<%= room_path(reser.room) %>">
        <td><%= index + 1%></td>
        <td><%= reser.room.area + reser.room.name %></td>
        <td><%= reser.time_start.strftime("%I:%M%p") %> - <%= reser.time_end.strftime("%I:%M%p") %></td>
        <td><%= reser.date.strftime("%d/%m/%Y") %></td>
        <td><%= reser.state %></td>
      </tr>
    <% end %>
 </tbody>
</table>

