<!DOCTYPE html>
<html>
<head>
  <title>Classroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header", style="width: 100px">
        <%= link_to image_tag('Snorlax.png'), root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% unless user_signed_in? %>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", [:admin, current_user] %></li>
                <% if current_user.admin? %>
                  <li><%= link_to "Admin Lounge", admin_root_path %></li>
                <% end %>
                <li><%= link_to "Users list", admin_users_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              </ul> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>  
  </nav>

  <div class="container">
    <% flash.each do |key, message| %>
      <div class="alert <%= flash_message(key) %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <hr>

  </div>
  
  
  <footer>
    <p>&copy; 2016 House Lannister</p>
  </footer>
  
</body>
</html>
